<div class="capsule-2">
    <header class="d-header">
        <div class="logo">
            <img src="/images/logo/logo-v.png" class="img-logo">
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="/">
                        <div class="icon">
                            <img src="/images/menu-icon/enter-pin.png" class="img-icon" alt="Enter Pin">
                        </div>
                        Enter Pin
                    </a>
                </li>
                <li>
                    <a href="/discover">
                        <div class="icon">
                            <img src="/images/menu-icon/discover.png" class="img-icon" alt="Discover">
                        </div>
                        Discover
                    </a>
                </li>
                <li>
                    <a href="/quiz">
                        <div class="icon">
                            <img src="/images/menu-icon/create.png" class="img-icon" alt="Create Quiz">
                        </div>
                        Create
                    </a>
                </li>
                <li class="li-icon">
                    <a href="/home">
                        <img src="images/menu-icon/profil.png" class="img-icon" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="/users/logout">
                        <img src="/images/menu-icon/logout.png" class="img-icon" alt="Logout">
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="discover-menu">
        <ul>
            <li><a class="active" href="#"> History </a></li>
        </ul>
    </div>
    <div class="discover-trend">
        <div class="discover-trend-in">
            <div class="discover-title">
                <span class="spn-discover-title">Trending</span>
                <span> <a href="#"> See All </a></span>
            </div>
            <div class="discover-trend-bottom">
                {{#each Trending}}
                <div data-toggle="modal" data-target=".bd-example-modal-lg-{{this.index}}" class="discover-trend-block">
                    <img src="{{#if this.quizImage}} {{this.quizImage}}{{else}}/images/quiz/default-quiz.png{{/if}}"
                        class="img-quiz" alt="Quiz Image">
                    <div class="discover-block-text">
                        <span class="spn-discover">{{this.quizTitle}} </span>
                        <span class="spn-discover-2"> {{this.questionCount}} Questions</span>
                        <div class="discover-owner">
                            {{this.ownerName}} <img
                                src="{{#if this.ownerImage}}{{this.ownerImage}}{{else}}/images/user/avatar2.png{{/if}}"
                                alt="Owner Image">
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <!-- modal content-->
    {{#each Trending}}
    <div class="modal fade bd-example-modal-lg-{{this.index}}" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 modal-left">
                            <img src="{{#if this.quizImage}} {{this.quizImage}}{{else}}/images/quiz/default-quiz.png{{/if}}"
                                class="img-modal" alt="Quiz Image">
                        </div>
                        <div class="col-xl-6 modal-right">
                            <h4 class="h4 modal-h4">{{this.quizTitle}}</h4>
                            <div class="modal-user">
                                <img src="{{#if this.ownerImage}}{{this.ownerImage}}{{else}}/images/user/avatar2.png{{/if}}"
                                    class="img-user-modal" alt="Owner Image">
                                <div class="modal-name">
                                    {{this.ownerName}}
                                </div>
                                <div class="modal-star">
                                </div>
                            </div>
                            <h5 class="h5-subtitle">Description</h5>
                            <p>
                                {{this.desc}}
                            </p>
                            <div class="modal-start">
                                <a href="/game?pin={{this.pin}}" class="btn-play">Play</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{#each Discover}}
    <div class="modal fade bd-example-modal-lg{{this.index}}" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 modal-left">
                            <img src="{{#if this.quizImage}} {{this.quizImage}}{{else}}/images/quiz/default-quiz.png{{/if}}"
                                class="img-modal" alt="Quiz Image">
                        </div>
                        <div class="col-xl-6 modal-right">
                            <h4 class="h4 modal-h4">{{this.quizTitle}}</h4>
                            <div class="modal-user">
                                <img src="{{#if this.ownerImage}}{{this.ownerImage}}{{else}}/images/user/avatar2.png{{/if}}"
                                    class="img-user-modal" alt="Owner Image">
                                <div class="modal-name">
                                    {{this.ownerName}}
                                </div>
                                <div class="modal-star">
                                </div>
                            </div>
                            <h5 class="h5-subtitle">Description</h5>
                            <p>
                                {{this.desc}}
                            </p>
                            <div class="modal-start">
                                <a href="/game?pin={{this.pin}}" class="btn-play">Play</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <div class="discover-quizs">
        <div class="discover-quizs-title">
            <h3>Quizs</h3>
        </div>
        <div class="discover-quizs-bottom">
            {{#each Discover}}
            <div data-toggle="modal" data-target=".bd-example-modal-lg{{this.index}}" class="discover-quizs-block">
                <img src="{{#if this.quizImage}} {{this.quizImage}}{{else}}/images/quiz/default-quiz.png{{/if}}"
                    class="img-quiz" alt="Quiz Image">
                <div class="discover-quizs-text">
                    <span class="spn-discover-quizs">{{this.quizTitle}} </span>
                    <span class="spn-discover-2-quizs"> {{this.questionCount}} Questions</span>
                    <div class="discover-owner-quizs">
                        {{this.ownerName}} <img
                            src="{{#if this.ownerImage}}{{this.ownerImage}}{{else}}/images/user/avatar2.png{{/if}}"
                            alt="Owner Image">
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>